/* line 1, ../sass/_reboot.scss */
body {
  min-width: 1280px;
  font-size: 12px;
  font-family: Helvetica Neue, Arial, Microsoft Yahei, Helvetica, sans-serif, Lato;
  line-height: 1.5;
  color: #505d66;
  letter-spacing: 1.4px;
  overflow-y: hidden;
}

/* line 10, ../sass/_reboot.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/_reboot.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reboot.scss */
fieldset, img {
  border: 0;
}

/* line 19, ../sass/_reboot.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 23, ../sass/_reboot.scss */
ul, ol {
  list-style: none;
}

/* line 24, ../sass/_reboot.scss */
caption, th {
  text-align: left;
}

/* line 25, ../sass/_reboot.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 29, ../sass/_reboot.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 33, ../sass/_reboot.scss */
a {
  color: #505d66;
}

/* line 34, ../sass/_reboot.scss */
a:link, a:hover, a:active {
  color: #505d66;
  text-decoration: none;
  outline: 0 none;
}

/* line 39, ../sass/_reboot.scss */
textarea {
  resize: none;
}

/* line 40, ../sass/_reboot.scss */
input, textarea, select {
  color: #b8c2c9;
  outline: none;
  letter-spacing: 1.2px;
}

/* line 46, ../sass/_reboot.scss */
.bdb-content-box {
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* line 49, ../sass/_reboot.scss */
.bdb-border-box {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* bootstrap reset */
/* line 54, ../sass/_reboot.scss */
.container-fluid {
  padding: 0;
}

/* line 55, ../sass/_reboot.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0px;
}

/* line 56, ../sass/_reboot.scss */
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/* line 60, ../sass/_reboot.scss */
.row, .form-group {
  margin: 0;
}

/* line 61, ../sass/_reboot.scss */
.help-block {
  margin-bottom: 0;
  padding-left: 3px;
  letter-spacing: 1.4px;
  color: #ff520d;
}

/* line 67, ../sass/_reboot.scss */
label {
  font-weight: normal;
}

/* line 70, ../sass/_reboot.scss */
button[disabled], html input[disabled] {
  cursor: default;
  background-color: #f6f6f6;
}
