body {
    min-width:      1280px;
    font-size:      12px;
    font-family:    Helvetica Neue, Arial, Microsoft Yahei, Helvetica, sans-serif, Lato;
    line-height:    1.5;
    color:          $light-grey;
    letter-spacing: $letter-spacing;
    overflow-y:     hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:  0;
    padding: 0;
}
table {
    border-collapse: collapse; 
    border-spacing:  0;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:  $normal;
    font-weight: $normal;
}
ul, ol { list-style: $none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
    font-size:   $p-100;
    font-weight: $normal;
}
abbr, acronym {
    border:       0;
    font-variant: $normal;
}
a { color: $light-grey; }
a:link, a:hover, a:active {
    color:           $light-grey;
    text-decoration: $link-decoration;
    outline:         0 $none;
}
textarea { resize: $none; }
input, textarea, select {
    color:          $grayish;
    outline:        $none;
    letter-spacing: $letter-spacing-1_2;
}

.bdb-content-box {
    @include box-sizing;
}
.bdb-border-box {
    @include box-sizing(border);
}

/* bootstrap reset */
.container-fluid { padding: 0; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{ padding: 0px; }
.form-horizontal .form-group {
    margin-left:  0;
    margin-right: 0;
}
.row, .form-group { margin: 0; }
.help-block {
    margin-bottom:   0;
    padding-left:    3px;
    letter-spacing:  $letter-spacing;
    color:           $err-c-ff520d;
}
label {
    font-weight: $normal;
}
button[disabled], html input[disabled] {
    cursor:           default;
    background-color: $light-white;
}
